<div class="card" ng-hide="edit" ng-click="edit=true">
    <h4>{{card.title}}</h4>
    <span class="description">{{card.description}}</span>
</div>

<div class="card" ng-show="edit"
      ng-model-options="modelOptions">>
    <div class="flex">
        <label><strong>Title:&nbsp</strong></label>
        <input type="text"
               ng-model="card.title"
               ng-change="update()"/>
    </div>
    <textarea ng-model="card.description"
              ng-change="update()"
              placeholder="Enter Description"></textarea>
    <button ng-click="edit=false">Close</button>
    <button ng-click="delete()">Delete Card</button>

</div>